<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body >
    <header id="mainheader">
       <h1> Monitering System</h1>
    </header>

    <nav id="navbar">
        <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="{{url_for('.login')}}">Log in</a></li>
        </ul>
    </nav>
    <section class=container>
        <div class=image>
            <img src="../static/images/car1.jpg" alt="a car" width="250px">
        </div>

        <div class="time">
            <label for="time">Time :</label>
            <input type="time" name="time" placeholder="second">
            <input type="date" name="time" placeholder="DD/MM/YY">
        </div>


        <div class="speed">
            <label for="speed">Speed :</label>
            <input type="killometers" name="speed" placeholder="killometers per second">
            <input type="text" name="speed" placeholder="location">
        </div>
    </section>

    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Timestamp</th>
                    <th>Speed (km/s)</th>
                    <th>Camera</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <th><img src="{{ row.image }}" alt="{{ row.image }}"></th>
                    <td>{{ row.time_stamp }}</td>
                    <td>{{ row.speed }}</td>
                    <td>{{ row.camera_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer id="mainfooter">
        <p>This page is directly protected by the 2019 Copyright. All Rights Reserved. </p>
    </footer>
</body>

</html>